.Navigation {
    height: 56px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #deeaee;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 90; /* Should be lower than backdrop */
}

.Navigation nav {
    height: 100%;
}

.Navigation-logo {
    font-size: 30px;
    color: #034f84;
    font-weight: bold;

}

.NavigationItems {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: row;
    align-items: center;
    height: 100%;
}
